--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-1.pgdg120+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: create_book_copies(); Type: FUNCTION; Schema: public; Owner: zimmer
--

CREATE FUNCTION public.create_book_copies() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Dla ka┼╝dego egzemplarza ksi─ů┼╝ki, dodaj nowy rekord w tabeli book_copies.
    FOR i IN 1..(SELECT stock FROM books WHERE id = NEW.book_id) LOOP
            INSERT INTO book_copies (book_id) VALUES (NEW.book_id);
        END LOOP;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.create_book_copies() OWNER TO zimmer;

--
-- Name: delete_book_copies(); Type: FUNCTION; Schema: public; Owner: zimmer
--

CREATE FUNCTION public.delete_book_copies() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Usu┼ä wszystkie egzemplarze ksi─ů┼╝ki z tabeli book_copies dla danego book_id.
    DELETE FROM book_copies WHERE book_id = OLD.book_id;
    RETURN OLD;
END;
$$;


ALTER FUNCTION public.delete_book_copies() OWNER TO zimmer;

--
-- Name: update_stock(); Type: FUNCTION; Schema: public; Owner: zimmer
--

CREATE FUNCTION public.update_stock() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF TG_OP = 'DELETE' THEN
        UPDATE books SET stock = stock - 1 WHERE id = OLD.book_id;
    ELSIF TG_OP = 'INSERT' THEN
        UPDATE books SET stock = stock + 1 WHERE id = NEW.book_id;
    END IF;
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.update_stock() OWNER TO zimmer;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: authors; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.authors (
    id integer NOT NULL,
    name character varying(255)
);


ALTER TABLE public.authors OWNER TO zimmer;

--
-- Name: authors_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.authors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.authors_id_seq OWNER TO zimmer;

--
-- Name: authors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.authors_id_seq OWNED BY public.authors.id;


--
-- Name: book_copies; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.book_copies (
    copy_id integer NOT NULL,
    book_id integer
);


ALTER TABLE public.book_copies OWNER TO zimmer;

--
-- Name: book_copies_copy_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.book_copies_copy_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.book_copies_copy_id_seq OWNER TO zimmer;

--
-- Name: book_copies_copy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.book_copies_copy_id_seq OWNED BY public.book_copies.copy_id;


--
-- Name: books; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.books (
    id integer NOT NULL,
    title character varying(255),
    publicationyear integer,
    genre character varying(100),
    availability boolean DEFAULT true,
    stock integer,
    image character varying(255)
);


ALTER TABLE public.books OWNER TO zimmer;

--
-- Name: books_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.books_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.books_id_seq OWNER TO zimmer;

--
-- Name: books_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.books_id_seq OWNED BY public.books.id;


--
-- Name: booksauthors; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.booksauthors (
    book_id integer NOT NULL,
    author_id integer NOT NULL
);


ALTER TABLE public.booksauthors OWNER TO zimmer;

--
-- Name: borrowedbooks; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.borrowedbooks (
    id integer NOT NULL,
    user_id integer,
    book_id integer,
    borrowed_date date,
    return_date date
);


ALTER TABLE public.borrowedbooks OWNER TO zimmer;

--
-- Name: borrowedbooks_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.borrowedbooks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.borrowedbooks_id_seq OWNER TO zimmer;

--
-- Name: borrowedbooks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.borrowedbooks_id_seq OWNED BY public.borrowedbooks.id;


--
-- Name: reservedbooks; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.reservedbooks (
    id integer NOT NULL,
    user_id integer,
    book_id integer,
    reserved_date date
);


ALTER TABLE public.reservedbooks OWNER TO zimmer;

--
-- Name: reservedbooks_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.reservedbooks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reservedbooks_id_seq OWNER TO zimmer;

--
-- Name: reservedbooks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.reservedbooks_id_seq OWNED BY public.reservedbooks.id;


--
-- Name: userdetails; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.userdetails (
    id integer NOT NULL,
    name character varying NOT NULL,
    lastname character varying NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.userdetails OWNER TO zimmer;

--
-- Name: userdetails_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.userdetails_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.userdetails_id_seq OWNER TO zimmer;

--
-- Name: userdetails_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.userdetails_id_seq OWNED BY public.userdetails.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) DEFAULT 'user'::character varying NOT NULL
);


ALTER TABLE public.users OWNER TO zimmer;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO zimmer;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: authors id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.authors ALTER COLUMN id SET DEFAULT nextval('public.authors_id_seq'::regclass);


--
-- Name: book_copies copy_id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.book_copies ALTER COLUMN copy_id SET DEFAULT nextval('public.book_copies_copy_id_seq'::regclass);


--
-- Name: books id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.books ALTER COLUMN id SET DEFAULT nextval('public.books_id_seq'::regclass);


--
-- Name: borrowedbooks id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.borrowedbooks ALTER COLUMN id SET DEFAULT nextval('public.borrowedbooks_id_seq'::regclass);


--
-- Name: reservedbooks id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.reservedbooks ALTER COLUMN id SET DEFAULT nextval('public.reservedbooks_id_seq'::regclass);


--
-- Name: userdetails id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.userdetails ALTER COLUMN id SET DEFAULT nextval('public.userdetails_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: authors; Type: TABLE DATA; Schema: public; Owner: zimmer
--



--
-- Data for Name: book_copies; Type: TABLE DATA; Schema: public; Owner: zimmer
--



--
-- Data for Name: books; Type: TABLE DATA; Schema: public; Owner: zimmer
--



--
-- Data for Name: booksauthors; Type: TABLE DATA; Schema: public; Owner: zimmer
--

COPY public.booksauthors (book_id, author_id) FROM stdin;
1	1
2	2
3	3
4	4
5	5
6	6
7	7
8	8
9	9
10	10
11	11
12	12
13	4
14	13
15	14
16	15
17	16
18	17
19	19
20	3
21	10
22	20
23	21
25	23
26	24
48	43
28	26
29	27
30	28
49	44
24	22
38	5
33	29
34	30
31	30
39	35
40	35
37	34
36	33
41	33
35	32
32	31
27	25
42	33
43	37
45	39
44	38
46	41
47	42
\.


--
-- Data for Name: borrowedbooks; Type: TABLE DATA; Schema: public; Owner: zimmer
--

COPY public.borrowedbooks (id, user_id, book_id, borrowed_date, return_date) FROM stdin;
\.


--
-- Data for Name: reservedbooks; Type: TABLE DATA; Schema: public; Owner: zimmer
--

COPY public.reservedbooks (id, user_id, book_id, reserved_date) FROM stdin;
\.


--
-- Data for Name: userdetails; Type: TABLE DATA; Schema: public; Owner: zimmer
--

COPY public.userdetails (id, name, lastname, user_id) FROM stdin;
1	Jan	Kowalski	3
2	Anna	Kowalska	4
3	Jan	Nowak	5
4	Marta	Sienkiewicz	6
5	Piotr	Malinowski	7
6	El┼╝bieta	Jankowska	8
7	admin	admin	10
8	Adam	Skotnicki	11
9	Tomasz	Nowacki	12
12	Piotr	Zimirski	15
14	Marek	Markowski	17
15	Piotr	Zimirski	18
16	Wilhem	Kotowicz	19
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: zimmer
--



--
-- Name: authors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.authors_id_seq', 44, true);


--
-- Name: book_copies_copy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.book_copies_copy_id_seq', 408, true);


--
-- Name: books_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.books_id_seq', 49, true);


--
-- Name: borrowedbooks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.borrowedbooks_id_seq', 1, false);


--
-- Name: reservedbooks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.reservedbooks_id_seq', 1, false);


--
-- Name: userdetails_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.userdetails_id_seq', 16, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.users_id_seq', 19, true);


--
-- Name: authors authors_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.authors
    ADD CONSTRAINT authors_pkey PRIMARY KEY (id);


--
-- Name: book_copies book_copies_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.book_copies
    ADD CONSTRAINT book_copies_pkey PRIMARY KEY (copy_id);


--
-- Name: books books_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT books_pkey PRIMARY KEY (id);


--
-- Name: booksauthors booksauthors_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.booksauthors
    ADD CONSTRAINT booksauthors_pkey PRIMARY KEY (book_id, author_id);


--
-- Name: borrowedbooks borrowedbooks_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.borrowedbooks
    ADD CONSTRAINT borrowedbooks_pkey PRIMARY KEY (id);


--
-- Name: reservedbooks reservedbooks_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.reservedbooks
    ADD CONSTRAINT reservedbooks_pkey PRIMARY KEY (id);


--
-- Name: userdetails userdetails_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.userdetails
    ADD CONSTRAINT userdetails_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: book_copies after_delete_book_copies; Type: TRIGGER; Schema: public; Owner: zimmer
--

CREATE TRIGGER after_delete_book_copies AFTER DELETE ON public.book_copies FOR EACH ROW EXECUTE FUNCTION public.update_stock();

ALTER TABLE public.book_copies DISABLE TRIGGER after_delete_book_copies;


--
-- Name: book_copies after_insert_book_copies; Type: TRIGGER; Schema: public; Owner: zimmer
--

CREATE TRIGGER after_insert_book_copies AFTER INSERT ON public.book_copies FOR EACH ROW EXECUTE FUNCTION public.update_stock();

ALTER TABLE public.book_copies DISABLE TRIGGER after_insert_book_copies;


--
-- Name: booksauthors trigger_create_book_copies; Type: TRIGGER; Schema: public; Owner: zimmer
--

CREATE TRIGGER trigger_create_book_copies AFTER INSERT ON public.booksauthors FOR EACH ROW EXECUTE FUNCTION public.create_book_copies();


--
-- Name: booksauthors trigger_delete_book_copies; Type: TRIGGER; Schema: public; Owner: zimmer
--

CREATE TRIGGER trigger_delete_book_copies AFTER DELETE ON public.booksauthors FOR EACH ROW EXECUTE FUNCTION public.delete_book_copies();


--
-- Name: book_copies book_copies_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.book_copies
    ADD CONSTRAINT book_copies_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: booksauthors booksauthors_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.booksauthors
    ADD CONSTRAINT booksauthors_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.authors(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: booksauthors booksauthors_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.booksauthors
    ADD CONSTRAINT booksauthors_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: borrowedbooks borrowedbooks_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.borrowedbooks
    ADD CONSTRAINT borrowedbooks_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(id);


--
-- Name: borrowedbooks borrowedbooks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.borrowedbooks
    ADD CONSTRAINT borrowedbooks_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: reservedbooks reservedbooks_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.reservedbooks
    ADD CONSTRAINT reservedbooks_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(id);


--
-- Name: reservedbooks reservedbooks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.reservedbooks
    ADD CONSTRAINT reservedbooks_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: userdetails userdetails_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.userdetails
    ADD CONSTRAINT userdetails_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

