--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-1.pgdg120+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: create_book_copies(); Type: FUNCTION; Schema: public; Owner: zimmer
--

CREATE FUNCTION public.create_book_copies() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Dla ka┼╝dego egzemplarza ksi─ů┼╝ki, dodaj nowy rekord w tabeli book_copies.
    FOR i IN 1..(SELECT stock FROM books WHERE id = NEW.book_id) LOOP
            INSERT INTO book_copies (book_id, status) VALUES (NEW.book_id, 'available');
        END LOOP;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.create_book_copies() OWNER TO zimmer;

--
-- Name: delete_book_copies(); Type: FUNCTION; Schema: public; Owner: zimmer
--

CREATE FUNCTION public.delete_book_copies() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Usu┼ä wszystkie egzemplarze ksi─ů┼╝ki z tabeli book_copies dla danego book_id.
    DELETE FROM book_copies WHERE book_id = OLD.book_id;
    RETURN OLD;
END;
$$;


ALTER FUNCTION public.delete_book_copies() OWNER TO zimmer;

--
-- Name: update_availability(); Type: FUNCTION; Schema: public; Owner: zimmer
--

CREATE FUNCTION public.update_availability() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.stock = 0 THEN
        NEW.availability := 'false';
    ELSIF NEW.stock > 0 THEN
        NEW.availability := 'true';
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_availability() OWNER TO zimmer;

--
-- Name: update_book_stock(); Type: FUNCTION; Schema: public; Owner: zimmer
--

CREATE FUNCTION public.update_book_stock() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Aktualizuje warto┼Ť─ç stock w tabeli books na podstawie ilo┼Ťci dost─Öpnych egzemplarzy w tabeli book_copies.
    UPDATE books
    SET stock = (SELECT COUNT(*) FROM book_copies WHERE book_id = NEW.book_id AND status = 'available')
    WHERE id = NEW.book_id;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_book_stock() OWNER TO zimmer;

--
-- Name: update_stock(); Type: FUNCTION; Schema: public; Owner: zimmer
--

CREATE FUNCTION public.update_stock() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF TG_OP = 'DELETE' THEN
        UPDATE books SET stock = stock - 1 WHERE id = OLD.book_id;
    ELSIF TG_OP = 'INSERT' THEN
        UPDATE books SET stock = stock + 1 WHERE id = NEW.book_id;
    END IF;
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.update_stock() OWNER TO zimmer;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: borrowed_books; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.borrowed_books (
    id integer NOT NULL,
    user_id integer,
    copy_id integer,
    borrowed_date date,
    expected_return_date date,
    actual_borrowed_books date
);


ALTER TABLE public.borrowed_books OWNER TO zimmer;

--
-- Name: borrowedbooks_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.borrowedbooks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.borrowedbooks_id_seq OWNER TO zimmer;

--
-- Name: borrowedbooks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.borrowedbooks_id_seq OWNED BY public.borrowed_books.id;


--
-- Name: archive_loans; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.archive_loans (
    id integer DEFAULT nextval('public.borrowedbooks_id_seq'::regclass) NOT NULL,
    user_id integer,
    copy_id integer,
    borrowed_date date,
    expected_return_date date,
    actual_borrowed_books date
);


ALTER TABLE public.archive_loans OWNER TO zimmer;

--
-- Name: authors; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.authors (
    id integer NOT NULL,
    name character varying(255)
);


ALTER TABLE public.authors OWNER TO zimmer;

--
-- Name: authors_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.authors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.authors_id_seq OWNER TO zimmer;

--
-- Name: authors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.authors_id_seq OWNED BY public.authors.id;


--
-- Name: book_copies; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.book_copies (
    id integer NOT NULL,
    book_id integer,
    status character varying(50)
);


ALTER TABLE public.book_copies OWNER TO zimmer;

--
-- Name: book_copies_copy_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.book_copies_copy_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.book_copies_copy_id_seq OWNER TO zimmer;

--
-- Name: book_copies_copy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.book_copies_copy_id_seq OWNED BY public.book_copies.id;


--
-- Name: books; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.books (
    id integer NOT NULL,
    title character varying(255),
    publicationyear integer,
    genre character varying(100),
    availability boolean DEFAULT true,
    stock integer,
    image character varying(255)
);


ALTER TABLE public.books OWNER TO zimmer;

--
-- Name: books_authors; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.books_authors (
    book_id integer NOT NULL,
    author_id integer NOT NULL
);


ALTER TABLE public.books_authors OWNER TO zimmer;

--
-- Name: books_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.books_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.books_id_seq OWNER TO zimmer;

--
-- Name: books_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.books_id_seq OWNED BY public.books.id;


--
-- Name: reserved_books; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.reserved_books (
    id integer NOT NULL,
    user_id integer,
    copy_id integer,
    reservation_date date,
    reservation_end date
);


ALTER TABLE public.reserved_books OWNER TO zimmer;

--
-- Name: reservedbooks_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.reservedbooks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reservedbooks_id_seq OWNER TO zimmer;

--
-- Name: reservedbooks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.reservedbooks_id_seq OWNED BY public.reserved_books.id;


--
-- Name: user_details; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.user_details (
    id integer NOT NULL,
    name character varying NOT NULL,
    lastname character varying NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.user_details OWNER TO zimmer;

--
-- Name: userdetails_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.userdetails_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.userdetails_id_seq OWNER TO zimmer;

--
-- Name: userdetails_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.userdetails_id_seq OWNED BY public.user_details.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: zimmer
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) DEFAULT 'user'::character varying NOT NULL
);


ALTER TABLE public.users OWNER TO zimmer;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: zimmer
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO zimmer;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zimmer
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: authors id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.authors ALTER COLUMN id SET DEFAULT nextval('public.authors_id_seq'::regclass);


--
-- Name: book_copies id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.book_copies ALTER COLUMN id SET DEFAULT nextval('public.book_copies_copy_id_seq'::regclass);


--
-- Name: books id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.books ALTER COLUMN id SET DEFAULT nextval('public.books_id_seq'::regclass);


--
-- Name: borrowed_books id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.borrowed_books ALTER COLUMN id SET DEFAULT nextval('public.borrowedbooks_id_seq'::regclass);


--
-- Name: reserved_books id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.reserved_books ALTER COLUMN id SET DEFAULT nextval('public.reservedbooks_id_seq'::regclass);


--
-- Name: user_details id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.user_details ALTER COLUMN id SET DEFAULT nextval('public.userdetails_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: archive_loans; Type: TABLE DATA; Schema: public; Owner: zimmer
--

COPY public.archive_loans (id, user_id, copy_id, borrowed_date, expected_return_date, actual_borrowed_books) FROM stdin;
\.


--
-- Data for Name: authors; Type: TABLE DATA; Schema: public; Owner: zimmer
--



--
-- Data for Name: book_copies; Type: TABLE DATA; Schema: public; Owner: zimmer
--



--
-- Data for Name: books; Type: TABLE DATA; Schema: public; Owner: zimmer
--



--
-- Data for Name: books_authors; Type: TABLE DATA; Schema: public; Owner: zimmer
--

COPY public.books_authors (book_id, author_id) FROM stdin;
1	1
2	2
3	3
4	4
5	5
6	6
7	7
8	8
9	9
10	10
11	11
12	12
13	4
14	13
15	14
16	15
17	16
18	17
19	19
20	3
21	10
22	20
23	21
25	23
26	24
48	43
28	26
29	27
30	28
49	44
24	22
27	25
50	45
38	5
33	29
34	30
31	30
39	35
40	35
37	34
36	33
41	33
35	32
32	31
42	33
43	37
45	39
44	38
46	41
47	42
\.


--
-- Data for Name: borrowed_books; Type: TABLE DATA; Schema: public; Owner: zimmer
--

COPY public.borrowed_books (id, user_id, copy_id, borrowed_date, expected_return_date, actual_borrowed_books) FROM stdin;
18	21	193	2023-09-22	2023-10-22	\N
19	6	192	2023-09-22	2023-10-22	\N
\.


--
-- Data for Name: reserved_books; Type: TABLE DATA; Schema: public; Owner: zimmer
--

COPY public.reserved_books (id, user_id, copy_id, reservation_date, reservation_end) FROM stdin;
30	21	194	2023-09-23	2023-09-30
31	21	185	2023-09-23	2023-09-30
32	21	64	2023-09-23	2023-09-30
33	21	184	2023-09-23	2023-09-30
\.


--
-- Data for Name: user_details; Type: TABLE DATA; Schema: public; Owner: zimmer
--

COPY public.user_details (id, name, lastname, user_id) FROM stdin;
5	Piotr	Malinowski	7
7	admin	admin	10
3	Jan	Nowak	5
18	Jan	Drzewicz	21
12	Piotr	Zimirski	15
15	Piotr	Zimirski	18
4	Marta	Sienkiewicz	6
6	El┼╝bieta	Jankowska	8
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: zimmer
--



--
-- Name: authors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.authors_id_seq', 45, true);


--
-- Name: book_copies_copy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.book_copies_copy_id_seq', 419, true);


--
-- Name: books_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.books_id_seq', 50, true);


--
-- Name: borrowedbooks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.borrowedbooks_id_seq', 19, true);


--
-- Name: reservedbooks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.reservedbooks_id_seq', 33, true);


--
-- Name: userdetails_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.userdetails_id_seq', 18, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: zimmer
--

SELECT pg_catalog.setval('public.users_id_seq', 21, true);


--
-- Name: archive_loans archive_loans_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.archive_loans
    ADD CONSTRAINT archive_loans_pkey PRIMARY KEY (id);


--
-- Name: authors authors_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.authors
    ADD CONSTRAINT authors_pkey PRIMARY KEY (id);


--
-- Name: book_copies book_copies_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.book_copies
    ADD CONSTRAINT book_copies_pkey PRIMARY KEY (id);


--
-- Name: books books_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT books_pkey PRIMARY KEY (id);


--
-- Name: books_authors booksauthors_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.books_authors
    ADD CONSTRAINT booksauthors_pkey PRIMARY KEY (book_id, author_id);


--
-- Name: borrowed_books borrowedbooks_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.borrowed_books
    ADD CONSTRAINT borrowedbooks_pkey PRIMARY KEY (id);


--
-- Name: reserved_books reservedbooks_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.reserved_books
    ADD CONSTRAINT reservedbooks_pkey PRIMARY KEY (id);


--
-- Name: user_details userdetails_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.user_details
    ADD CONSTRAINT userdetails_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: book_copies after_delete_book_copies; Type: TRIGGER; Schema: public; Owner: zimmer
--

CREATE TRIGGER after_delete_book_copies AFTER DELETE ON public.book_copies FOR EACH ROW EXECUTE FUNCTION public.update_stock();

ALTER TABLE public.book_copies DISABLE TRIGGER after_delete_book_copies;


--
-- Name: book_copies after_insert_book_copies; Type: TRIGGER; Schema: public; Owner: zimmer
--

CREATE TRIGGER after_insert_book_copies AFTER INSERT ON public.book_copies FOR EACH ROW EXECUTE FUNCTION public.update_stock();

ALTER TABLE public.book_copies DISABLE TRIGGER after_insert_book_copies;


--
-- Name: books tr_update_availability; Type: TRIGGER; Schema: public; Owner: zimmer
--

CREATE TRIGGER tr_update_availability BEFORE INSERT OR UPDATE OF stock ON public.books FOR EACH ROW EXECUTE FUNCTION public.update_availability();


--
-- Name: books_authors trigger_create_book_copies; Type: TRIGGER; Schema: public; Owner: zimmer
--

CREATE TRIGGER trigger_create_book_copies AFTER INSERT ON public.books_authors FOR EACH ROW EXECUTE FUNCTION public.create_book_copies();


--
-- Name: books_authors trigger_delete_book_copies; Type: TRIGGER; Schema: public; Owner: zimmer
--

CREATE TRIGGER trigger_delete_book_copies AFTER DELETE ON public.books_authors FOR EACH ROW EXECUTE FUNCTION public.delete_book_copies();


--
-- Name: book_copies trigger_update_book_stock; Type: TRIGGER; Schema: public; Owner: zimmer
--

CREATE TRIGGER trigger_update_book_stock AFTER UPDATE OF status ON public.book_copies FOR EACH ROW EXECUTE FUNCTION public.update_book_stock();


--
-- Name: archive_loans archive_loans_book_copies_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.archive_loans
    ADD CONSTRAINT archive_loans_book_copies_id_fk FOREIGN KEY (copy_id) REFERENCES public.book_copies(id);


--
-- Name: archive_loans archive_loans_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.archive_loans
    ADD CONSTRAINT archive_loans_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: book_copies book_copies_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.book_copies
    ADD CONSTRAINT book_copies_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: books_authors booksauthors_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.books_authors
    ADD CONSTRAINT booksauthors_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.authors(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: books_authors booksauthors_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.books_authors
    ADD CONSTRAINT booksauthors_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: borrowed_books borrowed_books_book_copies_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.borrowed_books
    ADD CONSTRAINT borrowed_books_book_copies_id_fk FOREIGN KEY (copy_id) REFERENCES public.book_copies(id);


--
-- Name: borrowed_books borrowedbooks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.borrowed_books
    ADD CONSTRAINT borrowedbooks_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: reserved_books reserved_books_book_copies_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.reserved_books
    ADD CONSTRAINT reserved_books_book_copies_id_fk FOREIGN KEY (copy_id) REFERENCES public.book_copies(id);


--
-- Name: reserved_books reservedbooks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.reserved_books
    ADD CONSTRAINT reservedbooks_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_details userdetails_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: zimmer
--

ALTER TABLE ONLY public.user_details
    ADD CONSTRAINT userdetails_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

