<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <title>Katalog książek</title>
</head>
<body class="catalog">
    <div class="top-bar"></div>

    <nav>
        <a href="link1.html" class="nav-button">Opis 1</a>
        <a href="link2.html" class="nav-button">Opis 2</a>
        <a href="link3.html" class="nav-button">Opis 3</a>
        <a href="link4.html" class="nav-button">Opis 4</a>
        <a href="link5.html" class="nav-button">Opis 5</a>
    </nav>
   
</body>
</html>