.catalog-table {
    margin-top: 2em;
    margin-left: auto;
    margin-right: 2em;
    border-radius: 1.5em; 
    box-shadow: 0 0 0 1px #ccc inset;
    overflow: hidden;  /*Ukrycie linii narożników */
    border-collapse: collapse; /*Linie sąsiadujących komórek łączą się ze sobą */
    width: 85%; 
    font-family: 'Comfortaa', cursive;
    
}

.catalog-table th, .catalog-table td {
    padding: 10px;
}



.catalog-table th {
    font-family: 'Sarabun', sans-serif;
    font-size: 1.1em;
    background-color: #F7FFE0;
    color: #5B5B62;
    text-align: center;
    border: 1px solid #D2BBA0
}

.catalog-table th:nth-child(6) { 
    white-space: normal; 
    width: 3em; 
}

.catalog-table td {
    border: 1px solid #F7FFE0; /* Kolor linii komórek dla wierszy (poza nagłówkiem) */
}

.catalog-table tbody tr:nth-child(odd) {
    background-color: #D2BBA0; /* Tło dla nieparzystych wierszy */
    color: #5B5B62; /* Kolor tekstu dla nieparzystych wierszy */
}

.catalog-table tbody tr:nth-child(even) {
    background-color: rgba(159, 126, 105, 0.9); /* Tło dla parzystych wierszy */
    color: #F2EFC7; /* Kolor tekstu dla parzystych wierszy */
}

